argcomplete==3.1.1
asgiref==3.7.2
beautifulsoup4==4.12.2
click==8.1.6
colorama==0.4.6
Django==3.2.19
django-bootstrap==0.2.4
gunicorn==21.2.0
packaging==23.1
pipx==1.2.0
psycopg2==2.9.6
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
userpath==1.9.0
